@media (min-width:1200px){
    
    
    .title{
        margin-top:54px;
        text-align: center;
        padding:20px 0;
        font-size: 36px;
    }
    .maintop{
        img{width:100%;}
    }
    .main{
        border:1px solid #DEDEDE;
        margin-top:30px;
        .mainnav{
            margin:0;
            text-align:center;
            ul{
                margin:0;
                padding: 0;
                border-bottom: 2px solid rgb(92, 175, 243);
            }
            li{
                border-right: 1px solid #DEDEDE;
                font-size: 16px;
                line-height: 48px;
                a{color:#000;}
                &:hover{
                    background: rgb(92, 175, 243);
                    a{color:#fff;}
                }
                &:last-of-type{
                    border-right:0;
                }
           }
        }
        .maintextbox{
            margin: 20px 50px;
            .texttitle{
                margin-top:50px;
                margin-bottom: 20px;
                height: 35px;
                width: 100%;
                border-bottom: 3px solid #E3E3E3;
                h3{
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 22px;
                    color: #f90;
                    margin-left: 35px;
                }
            }
            .subtitle{
                
                span{
                    display: inline-block;
                    line-height: 35px;
                    font-size: 16px;
                    font-weight: bold;
                    border-bottom: 1px solid    rgb(92, 175, 243);
                    margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                    line-height: 28px;
                    text-indent: 28px;
                }
                .imgtxtbox{
                    overflow: hidden;
                    img{float:left;
                        margin-right: 30px;
                    }
                    
                }
            }
        }
    }
}