@media (min-width: 1200px) {
    .idea {
        text-align: center;
        margin-top: 100px;
        .address {
            text-align: left;
            h5 {
                margin: 6px 0;
                color: #5E686F;
                font-size: 14px;
                a {
                    color: #5E686F;
                }
                span {
                    background: url("../images/contact-img.png") no-repeat 0 0;
                    width: 25px;
                    height: 28px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 18px;
                }
                .img1 {
                    background-position: 0px 0px;
                }
                .img2 {
                    background-position: 0px -33px;
                }
                .img3 {
                    background-position: 0px -68px;
                }
            }
            p {
                margin: 20px 0;
                color: #80888E;
                font-size: 16px;
            }
        }
        .contact {
            form {
                width: 81%;
                margin: 0 auto;
            }
        }
        .contact form input[type="text"],
        .contact textarea {
            color: #CDCDCD;
            border: 1px solid #CDCDCD;
            outline: 0;
            padding: 7px;
            width: 32.9%;
        }
        .contact textarea {
            width: 100%;
            margin-top: 28px;
            min-height: 150px;
            resize: none;
        }
        .contact form input[type="submit"] {
            background: url("../images/submit.jpg") no-repeat 0 0;
            width: 35px;
            height: 35px;
            display: block;
            padding: 0 117px 0 54px;
            float: right;
            border: none;
            outline: none;
            margin-top: 34px;
            font-size: 16px;
        }
    }
}