@media (min-width: 576px) {
    //     .sonmenu{
    //         position: fixed;
    //         top:10%;
    //         z-index: 10000;
    //         width:100%;
    //         text-align:center;
    //         h3{
    //             line-height: 40px;
    //             font-size: 16px;
    //             border-bottom: 1px solid rgb(177, 174, 174);
    //             &:hover{
    //                 background: rgb(92, 175, 243);
    //                 a{color:#fff}
    //             }
    //             a{
    //                 color:#666
    //             }
    //         }
    //     }
} // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    //     head{
    //         height: 170px;
    //     }
    //     .sonmenu{
    //         display: none;
    //     }
    // .bighide{
    //     display: none;
    // }
    // .menu_block {
    //     display: block;
    //     li{
    //         text-align: center;
    //         a{
    //             font-size: 16px;
    //         }
    //     }
    // }
    // .logomid{
    //     position: absolute;
    //     left:40%;
    //     width:20%;
    //     height: 100%;
    //     h1{
    //         background: #fff;
    //         border-radius:50%;
    //         height: 168px;
    //         width: 168px;
    //         position: relative;
    //         img{
    //             margin: 52.5px auto;
    //         }
    //     }
    // }
} // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    // banner1
    
    #banner1 {
       
        img {
            width: 100%;
            height: 749px;
        }
    }
    .carousel-inner {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .carousel-indicators {
        li {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 15px;
            &:hover {
                background: rgb(92, 175, 243);
            }
        }
        .active {
            background: rgb(92, 175, 243);
        }
    } // 畅游青岛模块
    .tour {
        margin-top: 100px;
        text-align: center;
        .imgbox {
            padding: 0;
            img {
                width: 100%;
                height: 100%;
            }
            &:hover {
                .imgshade {
                    display: block;
                }
            }
        }
        .imgshade {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100%;
            background: rgba(51, 48, 238, 0.4);
            display: none;
            p {
                position: absolute;
                left: 50%;
                top: 50%;
                font-size: 36px;
                margin-top: -18px;
                margin-left: -36px;
                color: #fff;
            }
        }
    } //模块标题
    .blocktitle {
        text-align: center;
        color: rgb(92, 175, 243);
        font-size: 36px;
    }
    .line {
        display: inline-block;
        background: rgba(128, 128, 128, 0.41);
        height: 1px;
        width: 200px;
        vertical-align: text-bottom;
        margin: 30px 0;
    }
    .lineimg {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 15px 10px;
    } //在线商城模块
    .shop {
        text-align: center;
        margin-top: 100px;
        .card {
            box-shadow: 0px 56px 36px -60px #121D12;
        }
        .card-body {
            text-align: left;
            h5 {
                font-size: 24px;
            }
            p {
                text-indent: 32px;
                font-size: 16px;
            }
        }
    } //体验分享
    .share {
        text-align: center;
        margin-top: 100px;
        .sharetext {
            text-align: left;
            h4 {
                font-size: 28px;
               
                font-weight: 900;
                a{ color: rgb(250, 135, 3);}
            }
            span {
                color: rgb(5, 76, 182);
                font-size: 16px;
                vertical-align: text-bottom;
            }
            .article {
                margin-top: 20px;
                li {
                    font-size: 18px;
                    height: 30px;
                    a {
                        color: #000;
                        line-height: 30px
                    }
                }
            }
        }
    }
    .idea {
        text-align: center;
        margin-top: 100px;
        .address {
            text-align: left;
            h5 {
                margin: 6px 0;
                color: #5E686F;
                font-size: 14px;
                a {
                    color: #5E686F;
                }
                span {
                    background: url("../images/contact-img.png") no-repeat 0 0;
                    width: 25px;
                    height: 28px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 18px;
                }
                .img1 {
                    background-position: 0px 0px;
                }
                .img2 {
                    background-position: 0px -33px;
                }
                .img3 {
                    background-position: 0px -68px;
                }
            }
            p {
                margin: 20px 0;
                color: #80888E;
                font-size: 16px;
            }
        }
        .contact {
            form {
                width: 81%;
                margin: 0 auto;
            }
        }
        .contact form input[type="text"],
        .contact textarea {
            color: #CDCDCD;
            border: 1px solid #CDCDCD;
            outline: 0;
            padding: 7px;
            width: 32.9%;
        }
        .contact textarea {
            width: 100%;
            margin-top: 28px;
            min-height: 150px;
            resize: none;
        }
        .contact form input[type="submit"] {
            background: url("../images/submit.jpg") no-repeat 0 0;
            width: 35px;
            height: 35px;
            display: block;
            padding: 0 117px 0 54px;
            float: right;
            border: none;
            outline: none;
            margin-top: 34px;
            font-size: 16px;
        }
    }
}
